$fade-duration: 0.2s;

.image-view {
  @extend .float-left;

  list-style: none;
  margin: 10px;
  height: 180px;
  width: 180px;
}

.image-container {
  position: absolute;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button-container {
  position: absolute;
  width: 180px;
  height: 180px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0));
    animation: fadeInBackground $fade-duration ease-in;
  }
}

.remove-button
{
  @extend .float-right, .btn, .btn-danger;
  display: none;
  margin: 10px 10px 0 0;
}

.remove-button-container:hover .remove-button
{
  display: block;
  animation: fadeInButton $fade-duration ease-out;
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInButton {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
